@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import 'variables';


.icon-rounded {
  padding: 10px;
  color: #fff;
  border: 5px solid white;
  border-radius: 50%;
  font-size: 25px;
}


.r3_counter_box {
  position: relative;
  overflow: hidden;
  min-height: 100px;
  color: #ffffff;

  margin-bottom: 20px;
  border-radius: 8px;
}

.r3_counter_box > a {
  padding: 15px;
  height: 100%;
  display: inline-block;

}
.stats {
  overflow: hidden;
  display: inline-block;
  margin: 10px 10px 10px 0;
}

.bg-icon {
  position: absolute;
  right: -30px;
  bottom: -30px;
  color: rgba(256,256,256,0.3);
  font-size: 130px;
}

.green-darken {
  background: darken($green, 30%);
}

.green-lighten {
  background: lighten($green, 30%);
}

.green-gradient {
  background: $blue;
  background: linear-gradient(302deg, darken($green, 30%) 0%, $green 50%, lighten($green, 30%) 100%);
}
.purple-gradient {
  background: $blue;
  background: linear-gradient(302deg, darken($purple, 30%) 0%, $purple 50%, lighten($purple, 30%) 100%);
}
.orange-gradient {
  background: $blue;
  background: linear-gradient(302deg, darken($orange, 30%) 0%, $orange 50%, lighten($orange, 30%) 100%);
}
.blue-gradient {
  background: $blue;
  background: linear-gradient(302deg, darken($blue, 30%) 0%, $blue 50%, lighten($blue, 30%) 100%);
}
.danger-gradient {
  background: $blue;
  background: linear-gradient(302deg, darken($danger, 30%) 0%, $danger 50%, lighten($danger, 30%) 100%);
}




.stats span{
  color: #ffffff;
  font-size:16px;
}
.r3_counter_box.stats {
  padding-left: 85px;
}
.r3_counter_box h5 {
  margin: 0;
  color:#fff;
  font-weight:600;
  font-size: 20px;
}

.bottom-links{
  text-align: center;
  padding: 0;
  z-index: 1;
}
.bottom-links a {
  font-size: 1em;
  color: #fff;
  margin: 0;
  //box-shadow: inset 0 -50px 0 0 rgba(255,255,255,.1);
  display: block;
  padding: .5em;
  text-decoration:none;
}











.grids {
  display: grid;
  background: none;
  grid-gap: 2.5%;
  grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
  position: relative;
}

.grids-2 {
  display: grid;
  grid-gap: 2.5%;
  grid-template-columns: repeat(auto-fill, minmax(350px,2fr));
  position: relative;
}

.align-center {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  transition: all 0,3ы;
}


#sidebar p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  color: #fff;
  transition: all 0.3s;
  height: 100%;
}

#sidebar .sidebar-header {
  color: #000;
  padding: 15px;
  height: 55px;
  background: #fff;
  h3 a {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: initial;
  }
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: $primary;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: $primary;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $primary;
}


/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
  display: none;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar.active .sidebar-full {
  display: none;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}



@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }


  /* Reappearing the sidebar on toggle button click */
  #sidebar {
    margin-left: 0;
  }


  /* Toggling the sidebar header content,
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }

  #sidebar.active .sidebar-header strong {
    display: block;
  }

  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
    padding: 20px 10px;
    font-size: 0.85em;
  }

  #sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  /* Adjust the dropdown links padding*/
  #sidebar.active ul ul a {
    padding: 10px !important;
  }

  /* Changing the arrow position to bottom center position,
    translateX(50%) works with right: 50%
    to accurately  center the arrow */
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}


#content {
  width: 100%;
}