


.grids {
  display: grid;
  background: none;
  grid-gap: 2.5%;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  position: relative;
}

.grids-2 {
  display: grid;
  grid-gap: 2.5%;
  grid-template-columns: repeat(auto-fill, minmax(350px,2fr));
  position: relative;
}

.align-center {
  text-align: center;
}